# OS
.DS_Store

# IDE
**.log

# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
**/.env
**/.venv

# folders
models
**/out
**/out_long
**/out_short


# future versions
**/video_content_generator
